.player {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  cursor: pointer;
}
.player iframe {
  border-radius: 10px;
}
.player-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.servers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  button {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    &&:hover {
      background-color: black;
      border: 1px solid white;
      color: white;

    }
  }
}
